version: "3.9"

services:
  backend:
    build: ./backend
    container_name: shubbham-backend
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
      - ./frontend/.env
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend
    container_name: shubbham-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
